{% extends "layout.html" %}

{% block content %}
  <div>
  </div>
  <a href="{{ url_for('about') }}">About</a>
  <a href="{{ url_for('create') }}">New</a>
  {% if not tasks.length == 0 %}
  {% for task in tasks %}
    <div class="task">
    	<p>{{ task.title }}</p>
    	<p>{{ task.description }}</p>
    	{% if task.done%}
    	<p>DONE</p>
    	{% else %}
    	<form action="{{ url_for('edit', id=task.uid) }}" method="post">
    	  <!-- <input type="hidden" name="_method" value="PATCH"> -->
    	  <button type="submit">Finish</button>
    	</form>
    	{% endif %}
    	<!-- <form action="{{ url_for('delete', id=task.uid) }}" method="POST"> -->
    	<form action="{{ url_for('delete', id=task.uid) }}" method="POST">
    	  <!-- <input type="hidden" name="_method" value="DELETE"> -->
    	  <button type="submit">Delete</button>
    	</form>
    </div>
  {% endfor %}
  {% endif %}
{% endblock %}